@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model FiscalYearExpenseSearchVm

@{
    ViewBag.Title = "List";
}

<div class="page-title">
    <div class="pull-left">
        <h3 class="title">অর্থ বছর ভিত্তিক ব্যয়</h3>
    </div>
    <div class="pull-right hidden-xs">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>ড্যাশবোর্ড</a>
            </li>
            <li class="active">
                <strong>অর্থ বছর ভিত্তিক ব্যয়</strong>
            </li>
        </ol>
    </div>
</div>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">List</h2>
        <div class="actions panel_actions pull-right">
            @*<a href="@Url.Action("Create","ADPProject")" class="btn btn-success"><i class="fa fa-plus"></i> নতুন প্রকল্প যুক্ত করুন</a>*@
        </div>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-xs-12">
                <table id="fiscalYearExpense" class="table table-striped table-bordered" width="100%" cellspacing="0">
                </table>
            </div>
        </div>

        <partial name="_ModalPartial" />
    </div>
</section>


@section scripts {

    <script>
        $(document).ready(function () {
            var table = $('#fiscalYearExpense').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": baseUrl + "/FiscalYearExpense/LoadData",  // Make sure this is correct
                    "type": "POST",
                    "contentType": "application/json",  // Sending JSON data
                    "data": function (d) {
                        // Manually create a JSON object for the POST request
                        return JSON.stringify({
                            SearchValue: d.search.value,  // Global search term
                            Draw: d.draw,
                            PageIndex: d.start / d.length,  // Pagination: starting index
                            PageSize: d.length,  // Pagination: number of records per page
                            SortColumn: d.order[0] ? d.columns[d.order[0].column].data : 'FiscalYearExpenseId',
                            SortDirection: d.order[0] ? d.order[0].dir : 'asc'
                        });
                    },
                    "dataSrc": function (json) {
                        console.log(json.data)
                        return json.data;
                    }
                },
                "columns": [
                    { "data": "FiscalYearExpenseId", "title": "আইডি", "visible": false },
                    {
                        "data": "ProjectTitle",
                        "title": "প্রকল্পের নাম",
                        "render": function (data, type, row) {
                            // Assuming 'id' is the unique identifier for the project
                            return `<a href="${baseUrl}/ADPProject/Details/${row.ADPProjectId}">${data}</a>`;
                        }
                    },
                    {
                        "data": "FiscalYearDescription", "title": "অর্থবছর" },
                    { "data": "TotalExpense", "title": "মোট ব্যয়" }
                ]
            });

            // Apply filters automatically when the user changes any of the filter fields
            $('#StartingDate, #EndingDate').on('change input keyup', function () {
                table.ajax.reload();
            });
        });

    </script>

}
