@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model TenderEvaluationCommitteeVm

@{
    ViewBag.Title = "List";
}


<div class="page-title">
    <div class="pull-left">
        <h3 class="title">টেন্ডার মূল্যায়ন কমিটি</h3>
    </div>
    <div class="pull-right hidden-xs">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li class="active">
                <strong>Tender Evaluation Committee</strong>
            </li>
        </ol>
    </div>
</div>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">টেন্ডার মূল্যায়ন কমিটি তালিকা</h2>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-xs-12">
                <table id="TenderEvaluationCommitteeTable" class="table table-striped table-bordered" width="100%" cellspacing="0">
                </table>
            </div>
        </div>

        <partial name="_ModalPartial" />
    </div>
</section>


@section scripts {

    <script>
        $(document).ready(function () {
            var table = $('#TenderEvaluationCommitteeTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": baseUrl + "/TenderEvaluationCommittee/LoadData",  // Make sure this is correct
                    "type": "POST",
                    "contentType": "application/json",  // Sending JSON data
                    "data": function (d) {
                        // Manually create a JSON object for the POST request
                        return JSON.stringify({
                            SearchValue: d.search.value,  // Global search term
                            Draw: d.draw,
                            PageIndex: d.start / d.length,  // Pagination: starting index
                            PageSize: d.length,  // Pagination: number of records per page
                            SortColumn: d.order[0] ? d.columns[d.order[0].column].data : 'TenderEvaluationCommitteeId',
                            SortDirection: d.order[0] ? d.order[0].dir : 'asc'
                        });
                    },
                    "dataSrc": function (json) {
                        console.log(json.data)
                        return json.data;
                    }
                },
                "columns": [
                    { "data": "TenderEvaluationCommitteeId", "title": "আইডি", "visible": false },
                    {
                        "data": "ADPProjectTitle",
                        "title": "প্রকল্পের নাম",                       
                    },
                    {
                        "data": "AddDGName",
                        "title": "অতিরিক্ত মহাপরিচালক",
                    },
                    {
                        "data": "DDGName",
                        "title": "উপ-মহাপরিচালক",
                    },
                    {
                        "data": "ProjectDirectorName",
                        "title": "প্রকল্প পরিচালক",
                    },
                    {
                        "data": "DirectorName",
                        "title": "পরিচালক",
                    }
                ]
            });
        });

    </script>

}