@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model SignatoryAuthorityVm

@{
    ViewBag.Title = "List";
}


<div class="page-title">
    <div class="pull-left">
        <h3 class="title">স্বাক্ষরকারী কমিটি</h3>
    </div>
    <div class="pull-right hidden-xs">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li class="active">
                <strong>Signatory Authority</strong>
            </li>
        </ol>
    </div>
</div>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">স্বাক্ষরকারী কমিটি তালিকা</h2>
        <div class="actions panel_actions pull-right">
            <a href="@Url.Action("Create","SignatoryAuthority")" class="btn btn-success"><i class="fa fa-plus"></i>  নতুন স্বাক্ষরকারী যোগ করুন</a>

            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-xs-12">
                <table id="RecruitmentCommitteeTable" class="table table-striped table-bordered" width="100%" cellspacing="0">
                </table>
            </div>
        </div>

        <partial name="_ModalPartial" />
    </div>
</section>


@section scripts {

    <script>
        $(document).ready(function () {
            var table = $('#RecruitmentCommitteeTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": baseUrl + "/SignatoryAuthority/LoadData",  // Make sure this is correct
                    "type": "POST",
                    "contentType": "application/json",  // Sending JSON data
                    "data": function (d) {
                        // Manually create a JSON object for the POST request
                        return JSON.stringify({
                            SearchValue: d.search.value,  // Global search term
                            Draw: d.draw,
                            PageIndex: d.start / d.length,  // Pagination: starting index
                            PageSize: d.length,  // Pagination: number of records per page
                            SortColumn: d.order[0] ? d.columns[d.order[0].column].data : 'SignatoryAuthorityId',
                            SortDirection: d.order[0] ? d.order[0].dir : 'asc'
                        });
                    },
                    "dataSrc": function (json) {
                        console.log(json.data)
                        return json.data;
                    }
                },
                "columns": [
                    { "data": "SignatoryAuthorityId", "title": "আইডি", "visible": false },
                    {
                        "data": "AuthorityName",
                        "title": "নাম",
                        //"render": function (data, type, row) {
                        //    // Assuming 'id' is the unique identifier for the project
                        //    /*return `<a href="${baseUrl}/ADPProject/Details/${row.ADPProjectId}">${data}</a>`;*/
                        //}
                    },
                    {
                        "data": "AuthorityNameB",
                        "title": "বাংলা নাম",
                    },
                    {
                        "data": "Designation",
                        "title": "পদবি",
                    },
                    {
                        "data": "DesignationB",
                        "title": "পদবি বাংলায়",
                    },
                    {
                        "data": "Recruitment",
                        "title": "নিয়োগ",
                    },
                    {
                        "data": "onThePartOf",
                        "title": "পক্ষে",
                    },
                  
                    {
                        "render": function (data, type, row) {
                            //Assuming 'id' is the unique identifier for the project
                            return `<a href="${baseUrl}/SignatoryAuthority/Edit/${row.SignatoryAuthorityId}" class="btn btn-primary btn-xs"><i class="fa fa-pencil-square"></i> সংশোধন</a>
                                <a href="${baseUrl}/SignatoryAuthority/Delete/${row.SignatoryAuthorityId}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> মুছুন</a>
                                `;
                        }
                    },
                ]
            });
        });

    </script>

}